/**
*
* Main StyleSheet
*
* @project Employee Profile App
* @version 1.0
* @author Paul A. Mould
* @copyright 2016
*
*/

#main-content {
	padding-top: 40px;
}

.displayBioBtn{
    padding: 8px 18px;
    margin: 15px 15px 15px 0px;
}

.profile{
	padding: 40px 0px 40px 0px;
}

.delete-btn-wrapper{
	float: right;
}
.deleteProfileBtn{
	float: right;
	padding: 5px 32px;
    font-size: 25px;
    line-height: 25px;
}

.profile .profile-desc p, .profile .profile-desc h1,.profile .profile-desc h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 5px 0px;
}

.panel-default>.panel-heading{
	font-family: "Arial Black", Gadget, sans-serif;
}

.bio-panel .panel-body{
	padding: 20px 15px;
}

.contact a
{
	font-weight: bold;
		color: #333;
}
ul.appDescription
{
	padding: 40px;
}

ul.appDescription li
{
	list-style-type: none;
}
